body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
body {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.bud_bounce {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150vh;
}
