.container{
  justify-content: center;
  align-items: center;
  position:relative;
  grid-area:main_content;
  white-space: nowrap;

  display:flex;
  height: 100%;
  width: 100%
}
.button{
  transform: none;
  user-select: none;
  justify-self: center;
  align-self: center;
  background-color: none;
  text-align:center;
}
.start_text{
  font-size : 1.8em;
  user-select: none;
  cursor:pointer;
}
button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
svg{
  pointer-events: none;
  user-select: none;
  justify-items: center;
  align-items: center;
}
g{
  transform-origin: center center;
  transform: scale(0.25 , 0.25);
}
.dot{
  opacity:0;
  fill: #FFFFFF;
  pointer-events: none;
  user-select: none;
}
.bubble1{
  opacity:0;
  fill: #FFFFFF;
  pointer-events: none;
  user-select: none;
}
.bubble2{
  opacity:0;
  fill: #FFFFFF;
  pointer-events: none;
  user-select: none;
}
.bubble3{
  opacity:0;
  fill: #FFFFFF;
  pointer-events: none;
  user-select: none;
}
.bubble4{
  opacity:0;
  fill: #FFFFFF;
  pointer-events: none;
  user-select: none;
}
.pop1{
  opacity:0;
  fill: #FFFFFF;
  pointer-events: none;
  user-select: none;
}
.pop2{
  opacity:0;
  fill: #FFFFFF;
  user-select: none;
  pointer-events: none;
}