.container{
  justify-items: center;
  align-items: center;
  position:relative;
  display:grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 100px 3fr 100px;
  grid-template-areas:
    "header header header"
    ". main_content ."
    ". footer2 .";
  height: 100%;
}
.appWrapper{
  display:contents;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  width: 100%;           /* whatever width you like */
  position: relative;    /* so .content can use position: absolute */
}
.ResetButton{
  position:absolute;
  /* top:100px */
  grid-area: footer2;
  display: contents;
}
.content{
  display:flex;
  grid-area: main_content;
}