.container{
  /* display:grid; */
  justify-items: center;
  align-items: center;
  position:relative;
}
/* .container > * {
  grid-column-start: 1;
  grid-row-start: 1;
  position:relative;
} */
.appWrapper{
  display: inline-block; /* shrink to fit */
  width: 100%;           /* whatever width you like */
  position: relative;    /* so .content can use position: absolute */
}
.content{
  position:absolute;
}
.ResetButton{
  position:absolute;
  top:100px
}