.container{
  justify-items: center;
  align-items: center;
  position:relative;
  display: contents;
}
.container > * {
  grid-column-start: 1;
  grid-row-start: 1;
  position:relative;
}
.appWrapper{
  grid-row-start: 2;
  display: flex; /* shrink to fit */
  width: 100%;           /* whatever width you like */
  position: relative;
  justify-content: center;    /* so .content can use position: absolute */
}
.content{
  position:absolute;
}
.ResetButton{
  position:absolute;
  top:100px;
  display: contents;
}
.InfoBox{
  display: contents;
}